{* Latte template *}
{layout ./base.latte}
{block content}
<h3>{_ systemModule.groupPositions}</h3>
{if $data}
    {foreach $data as $p}
	{if $p->getPublishContact()}
	    <strong>{$p->getName()}</strong> <br/>
	    {var user => $p->getOwner()}
	    {$user->getName()} {$user->getSurname()} <br/>
	    {$user->getContact()->getEmail()}<br/>
	    {$user->getContact()->getPhone()}<br/>
	    <hr/>
	{/}
    {/}
{else}
    {_ system.messages.nothingToShow}
{/}