{* Users module Protected presenter *}
{layout ./base.latte}
{block content}
<a href="{plink :Users:Protected:data}">{_ usersModule.protected.userData}</a><br/>
<a href="{plink :Users:Protected:profile}">{_ usersModule.protected.userProfile}</a>