
{* Users module User presenter *}

{layout $layoutsPath.'userSectionBaseTemplate.latte'}

{block #side}left{/block}

{block #breadcrumbs}
    {include #parent} <li>{_usersModule.user.default.bread}</li>
{/block}

{block #title}
      {_usersModule.user.heading} {$titleCrumbSeparator} {include #parent}
{/block}

{block #subMenu}
{/block}
    
{block #userContent}
<div class="page-header"></div>
	
    <a href="{plink :Users:User:data}">{_ usersModule.protected.userData}</a><br/>
    <a href="{plink :Users:User:profile}">{_ usersModule.protected.userProfile}</a>
{/}
    