groupPositions: "Positions within group"
adminMenuItem.label: "System"
adminMenuItem.description: "Sport groups, sport types and static pages administration."
club: "Club"
profile: "Profile"
administrator: "Administration"

navigation:
	options: "/ Options"
	back: "Back"
	adminModule: "Administration section"
	clubModule: "Club section"
	userModule: "User module"

navigation.menu:
	club: "Club section"
	admin: "Administration"
	user: "User section"
	cats: "Categories"

commentControl:
	titleAdd: "Add comment"
	allData: "Comments"
	noDataFound: "No comments were found"
	commentsRestricted: "Comments are restricted for you"
	title: "Title"
	content: "Content"
	contentMustFill: "Content has to be filled"
	commentsLabel: "Comments"
	commentAdd: "Add comment"
	titlePlaceHolder: "Title of your new comment"
	contentPlaceHolder: "Content of your new comment"
	
sportTypeForm:
	newGroup: "New sport type"
	name: "Name "
	note: "Note"
	active: "Active"

sportGroupForm:
	name: "Name"
	desc: "Description"
	abbr: "Abbreviation"
	parent: "Superior"
	priority: "Priority"
	sport: "Sport type"
	active: "Active"
	groupSel: "Select sport group .."
	prioritySel: "Select priority .."
	sportSel: "Select sport type .."

admin:
	sportAdd: "Add new sport type"
	groupAdd: "Add new sport group"	
	pageAdd: "Add new static page"
	sportTypes.heading: "Sport types"
	sportGroups.heading: "Sport groups"
	heading: "System resources"
	addSportGroup.heading: "New sport group"
	addSportType.heading: "New sport type"
	updateSportGroup.heading: "Update sport group %title%"
	updateSportGroup.bread: "Sport group update"
	updateSportGroup.title: "Sport group update"
	updateSportType.heading: "Update sport type %title%"
	updateSportType.title: "Sport type update"
	updateSportType.bread: "Sport type update"
	staticPages.heading: "Static pages"
	addStaticPage.heading: "New static page"
	updateStaticPage.heading: "Update static page '%title%'"
	updateStaticPage.bread: "Static page edit"
	updateStaticPage.title: "Static page edit"

admin.grid:
	name: "Name"
	note: "Note"
	sport: "Sport"
	parent: "Parent"
	delete: "Delete"
	active: "Active"

	title: "Title"
	abbr: "Abbr"
	commMode: "Comments"
	status: "Status"
	group: "Group"
	
admin.grid.messages:
	rlyDelSport: "Do you really want to delete sport #%id%"
	rlyDelGroup: "Do you really want to delete group #%id%"
	rlyDelSportItems: "Do you really want to delete %i sports"
	rlyDelGroupItems: "Do you really want to delete %i groups"
	rlyDelPageItems: "Do you really want to delete %i pages"
	rlyDelPage: "Do you really want to delete page #%id%"

commentMode:
	group: "Group only"
	allowed: "Allowed"
	restricted: "Restricted"
	signedIn: "Signed in"

statPageStatus:
	draft: "Draft"
	published: "Published"
	notPub: "Not published"

staticPageForm:

	title: "Title"
	abbr: "Abbreviation"
	parent: "Parent"
	group: "Group"
	status: "Status"
	commentMode: "Comments"
	content: "Content"
	pageSel: "Select parent.. "
	updated: "Updated"
	editor: "Editor"
	pageAbbrExists: "Static page with given abbreviation already  exists"

publicPages:
	pagesMenuLabel: "Available information"
	groupsMenu: "Groups"
	    

protected.rootPage: 
	adminMenuHeading: "Admin section navigation"
	userMenuHeading: "User section navigation"
	clubMenuHeading: "Club section navigation"

default:
	signpost.bread: "Application signpost"
	sectionSignpost.bread: "Section signpost"


notifications:
	accActivated.subject: "Account activated at %host%"
	accActivated.body: "Dear %name% %surname%, Your account has been activated. You can sign in with credentials as you were used to."

	accDeactivated.subject: "Account deactivated at %host%"
	accDeactivated.body: "Dear %name% %surname%, Your account has been deactivated. It is now impossible for you to sign in until it is activated again."

	accCreated.subject: "Account created at %host%"
	accCreated.body: "Dear %name% %surname%, this is information message about creating your account within our information system. You can sign in with email you provided within application and password: %pass%."

	newMessage.subject: "New private message at %host%"
	newMessage.body: "Dear %name% %surname%, this is information message about receiving new private message. Sign in to our system for further details."

	newPayment.subject: "New payment added at %host%"
	newPayment.body: "Dear %name% %surname%, this is information message about adding new payment request to your account. Please sign in for further details."

	newApplication.subject: "New season application created at %host%"
	newApplication.body: "Dear %name% %surname%, this is information message about applying you for season %season% into group %group%. Please sign in to our system for further details."
	
	passwordChange.subject: "User password changed at %host%"
	passwordChange.body: "Dear %name% %surname%, this is information message about changing your account password to %pass%"
	newPassword.subject: "New password generated at %host%"
	newPassword.body: "Dear %name% %surname%, this is information message about regenerating your system password to %pass%. You can change it to desired password after sign in."


homepage:
	contacts: "Contacts"
	sitemap: "Sitemap"
	homepage: "Homepage"