common:
	yes: "Yes"
	no: "No"
	delete: "Delete"
	update:	"Update"
	cancel: "Cancel"

forms:
	cancelButton.label: "       Cancel      "
	submitButton.label: "       Save       "

messages:
	badArgumentFormat: "Bad argument format, '%id%' given."
	couldNotSaveData: "Unable to save data|Unable to save data with id '%id%'."
	couldNotLoadData: "Unable to load data|Unable to load data with id '%id%'."
	couldNotDeleteData: "Unable to delete data|Unable to delete data with id '%id%'."
	nothingToShow: "No data were found."

admin.messages:
	dependencyErrorDelete: "You cannot delete entity, which is still in use (%id%)."