groupPositions: "Positions within group"
adminMenuItem.label: "System"
club: "Club"
profile: "Profile"
administrator: "Administration"

navigation:
	options: "/ Options"
	back: "Back"
	adminModule: "Administration section"
	clubModule: "Club section"
	userModule: "User module"

navigation.menu:
	club: "Club section"
	admin: "Administration"
	user: "User section"
	cats: "Categories"

commentControl:
	titleAdd: "Add comment"
	allData: "Comments"
	noDataFound: "No comments were found"
	commentsRestricted: "Comments are restricted for you"
	title: "Title"
	content: "Content"
	contentMustFill: "Content has to be filled"
	commentsLabel: "Comments"
	commentAdd: "Add comment"
	titlePlaceHolder: "Title of your new comment"
	contentPlaceHolder: "Content of your new comment"
	
sportTypeForm:
	newGroup: "New sport type"
	name: "Name "
	note: "Note"

sportGroupForm:
	name: "Name"
	desc: "Description"
	abbr: "Abbreviation"
	parent: "Superior"
	priority: "Priority"
	sport: "Sport type"
	active: "Active"
	groupSel: "Select sport group .."
	prioritySel: "Select priority .."
	sportSel: "Select sport type .."

admin:
	sportAdd: "Add new sport type"
	groupAdd: "Add new sport group"	
	pageAdd: "Add new static page"
	sportTypes.heading: "Sport types"
	sportGroups.heading: "Sport groups"
	heading: "System resources"
	addSportGroup.heading: "New sport group"
	addSportType.heading: "New sport type"
	updateSportGroup.heading: "Update sport group %title%"
	updateSportGroup.bread: "Sport group update"
	updateSportGroup.title: "Sport group update"
	updateSportType.heading: "Update sport type %title%"
	updateSportType.title: "Sport type update"
	updateSportType.bread: "Sport type update"
	staticPages.heading: "Static pages"
	addStaticPage.heading: "New static page"
	updateStaticPage.heading: "Update static page '%title%' of group '%group%'"
	updateStaticPage.bread: "Static page edit"
	updateStaticPage.title: "Static page edit"

admin.grid:
	name: "Name"
	note: "Note"
	sport: "Sport"
	parent: "Parent"
	delete: "Delete"
	active: "Active"

	title: "Title"
	abbr: "Abbr"
	commMode: "Comments"
	status: "Status"
	
admin.grid.messages:
	rlyDelSport: "Do you really want to delete sport #%id%"
	rlyDelGroup: "Do you really want to delete group #%id%"
	rlyDelSportItems: "Do you really want to delete %i sports"
	rlyDelGroupItems: "Do you really want to delete %i groups"
	rlyDelPageItems: "Do you really want to delete %i pages"
	rlyDelPage: "Do you really want to delete page #%id%"

commentMode:
	group: "Group only"
	allowed: "Allowed"
	restricted: "Restricted"
	signedIn: "Signed in only"

statPageStatus:
	draft: "Draft"
	published: "Published"
	notPub: "Not published"

staticPageForm:

	title: "Title"
	abbr: "Abbreviation"
	parent: "Parent"
	group: "Group"
	status: "Status"
	commentMode: "Comments"
	content: "Content"
	pageSel: "Select parent.. "
	updated: "Updated"
	editor: "Editor"
	pageAbbrExists: "Static page with given abbreviation already  exists"