{* Latte template *}

<span n:if="$isLoggedIn">{_systemModule.loginControl.userLoggedIn, [name => $user->getName()." ".$user->getSurname()]}</span>
<span n:if="!$isLoggedIn">{_systemModule.loginControl.userLoggedOut}</span>