adminMenuItem.label: "Seasons"

admin:
	seasonAdd: "Add new season"
	taxAdd: "Add new season tax"
	appAdd: "Add new season application"
	heading: "Seasons resources"
	season.heading: "Seasons"
	tax.heading: "Season taxes"
	apps.heading: "Season applications"
	addSeasonTax.heading: "New season tax"
	addSeasonApplication.heading: "New season application"
	addSeason.heading: "New season"

	updateSeason.heading: "Update season %title%"
	updateSeason.title: "Update season"
	updateSeasonApplication.heading: "Update season application of %name%"
	updateSeasonApplication.title: "Update season application"
	updateSeasonTax.heading: "Update season tax"

admin.grid:
	delete: "Delete"
	update: "Update"
	
	reallyDeleteAppId: "Are you sure you want to delete application #%id%?"
	reallyDeleteTaxId: "Are you sure you want to delete season tax #%id%?"
	reallyDeleteSeasonId: "Are you sure you want to delete season #%id%?"

admin.error:
	seasonGroupExist: "Entry for this season and sport group already exist"
	seasonTaxIdDoesntExist: "Season tax #%id% does not exist"
	seasonAppIdDoesntExist: "Season applicaton #%id% does not exist"
	seasonAppUniqueExist: "Season application for this user and group and season already exist"
	appDeadlineExpired: "Sorry, but application deadline for this season and group expired"

seasonForm.errors:
	labelAlreadyExist: "Season with label '%label%' already exist"

