
{layout $layoutsPath."@publicLayout.latte"}

{block content}

{define title}
    {_securityModule.loginControl.loginForm.title} {$titleCrumbSeparator} {include parent}
{/}

{control loginControl:form}
