
{* Security module Admin presenter *}

{layout $layoutsPath.'adminSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent}<li>{_ securityModule.admin.updatePosition.heading}</li>
{/block}

{block #title}
    {_ securityModule.admin.updatePosition.heading} {$titleCrumbSeparator} {include #parent}
{/block}

{block #subMenu}
    {control backSubMenu:contentSubMenu}
{/block}

{block #adminContent}
    {control updatePositionForm}
{/}