adminMenuItem.label: "Users"
protectedMenuDataItem.label: "Personal data"
protectedMenuProfileItem.label: "Profile"

common:

passwordChangeForm:
	group: "Password change"
	oldPwDoesntMatch: "Old password does not match"
	newPwsDontMatch: "New passwords do not match"
	


messages:
	badArgumentFormat: "Bad format of user id, '%id%' given"
	passwordChanged: "Your password has been successfully changed"
	
admin:
	userNew: "New user"
	userAdd: "Create new user"
	userEdit: "User update"
	profileEdit: "Users web profile update"
	usersGrid: "Users"
	wpPermitGrid: "Web profiles pending to permit"
	heading: "Users resources"
	newUser.heading: "New user"
	updateUser.heading: "Update user"
	updateProfile.title: "Update web profile"
	updateProfile.bread: "Update web profile of %name%"

admin.messages:
	dependencyErrorDelete: "You cannot delete entity, which is still in use"
	newPwSuccess: "New password for user with id '%id%' was generated"
	newPwFailed: "Generating of new password for user '%id%' failed"
	createUserFailed: "Saving of new user failed"

admin.grid:
	never: "Never"
	update: "Update"
	delete: "Delete"
	pwRegen: "Regenerate new password"
	updateWp: "Update user's web profile"
	denyProfile: "Deny web profile changes"
	permitProfile: "Permit web profile changes"
	reallyDeleteItems: "Are you sure you want to delete %i items?"

webProfForm:
	personalLikes.label: "Personal likes"
	personalLikes.desc: "My personal likes"

usrForm:
	active: "Active"
	newUser: "New user"
	updateUser: "Update user"
	nick: "Nick"
	name: "Name"
	surname: "Surname"
	birthNumber: "Birth number"
	leagueId: "League id"
	livingAddress: "Address of permanent residence"
	street: "Street"
	houseNum: "House number"
	city: "City"
	postCode: "Post code"
	usrContact: "Contact"
	phone: "Phone"
	email: "Email"
	job: "Job"
	contactPerson: "Contact person"
	contName: "Name"
	contPhone: "Phone"

user:
	webProfile.heading: "Web profile"
	personalData.heading: "Personal data"
	