adminMenuItem.label: "Users"
protectedMenuDataItem.label: "Personal data"
protectedMenuProfileItem.label: "Profile"

common:

passwordChangeForm:
	group: "Password change"
	oldPwDoesntMatch: "Old password does not match"
	newPwsDontMatch: "New passwords do not match"
	


messages:
	badArgumentFormat: "Bad format of user id, '%id%' given"
	passwordChanged: "Your password has been successfully changed"
	
admin:
	userNew: "New user"
	userAdd: "Create new user"
	userEdit: "User update"
	profileEdit: "Users web profile update"
	usersGrid: "Users"
	wpPermitGrid: "Web profiles pending to permit"
	heading: "Users resources"
	newUser.heading: "New user"
	updateUser.heading: "Update user"
	updateProfile.title: "Update web profile"
	updateProfile.bread: "Update web profile of %name%"
	

admin.messages:
	dependencyErrorDelete: "You cannot delete entity, which is still in use"
	newPwSuccess: "New password for user with id '%id%' was generated"
	newPwFailed: "Generating of new password for user '%id%' failed"
	createUserFailed: "Saving of new user failed"
	webProfileUpdateFailed: "Update of web profile #%id% failed"

admin.grid:
	never: "Never"
	update: "Update"
	delete: "Delete"
	pwRegen: "Regenerate new password"
	updateWp: "Update user's web profile"
	denyProfile: "Deny web profile changes"
	permitProfile: "Permit web profile changes"
	reallyDeleteItems: "Are you sure you want to delete %i items?"
	
admin.wpGrid:
	photo.label: "Photo"
	content.label: "Content"
	reallyPermitItems: "Do you really want to permit %i items"
	reallyPermitItem: "Do you really want to PERMIT web profile #%id%"
	reallyDenyItems: "Do you really want to deny %i items"
	reallyDenyItem: "Do you really want to DENY web profile #%id%"

webProfForm:
	personalLikes.label: "Personal likes"
	personalDisLikes.label: "Personal dislikes"
	personalInterests.label: "Personal interests"
	jerseyNumber.label: "Jersey number"
	jerseyNumber.mustNumber: "Jersey number must be type of number"
	equipment.label: "Equipment"
	favBrand.label: "Favourite brand"
	favClub.label: "Favourite club"
	experience.label: "Experience"
	howGotThere.label: "How got there"
	moreAboutMe.label: "More about me"
	picture.label: "Photo"
	signature.label: "Signature"
	status.label: "Status"
	publish.label: "Publish profile"
	memberSince.label: "Member since"
	
usrForm:
	active: "Active"
	newUser: "New user"
	updateUser: "Update user"
	nick: "Nick"
	name: "Name"
	surname: "Surname"
	birthNumber: "Birth number"
	leagueId: "League id"
	livingAddress: "Address of permanent residence"
	street: "Street"
	houseNum: "House number"
	city: "City"
	postCode: "Post code"
	usrContact: "Contact"
	phone: "Phone"
	email: "Email"
	job: "Job"
	contactPerson: "Contact person"
	contName: "Name"
	contPhone: "Phone"

user:
	webProfile.heading: "Web profile"
	personalData.heading: "Personal data"
	default.bread: "Personal section"
	
protected: 
	userData: "Personal data edit"
	userProfile: "Web profile edit"

public:
	webProfile.notPublished: "Content of this web profile is not desired to be displayed"
	rosters.bread: "Rosters"
	rosters.groupsMenu: "Groups"
	rosterMenu.label: "Roster of %group%"