# Events module config file

services:

	eventsModule.cacheStorage:
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/eventsModule)
		autowired: no

	eventsModule.eventService:
		class:
			App\EventsModule\Model\Service\EventService
		setup:
			- setCacheStorage(@eventsModule.cacheStorage)
			- setGroupService()
			- setUserService()