{layout $layoutsPath.'base.latte'}

{var robots => noindex}
{block #side}left{/block}

{block #sideBlock}
	{*control userMenu:contentMenu*}
	{include #subMenu}
{/block}
	
{block #mainBlock}
	{include #userContent}
{/block}
{block #breadcrumbs}/ <a href="#">Člen</a> {/block}