
{* Users module Admin presenter *}

{layout $layoutsPath.'adminSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent}<li>{_ usersModule.admin.updateProfile.bread, null, ["name"=>$name]}</li>
{/block}

{block #title}
    {_ usersModule.admin.updateProfile.title} | {include #parent}
{/block}

{block #subMenu}
    {control backSubMenu:contentSubMenu}
{/block}

{block #adminContent}
    {control updateWebProfileForm}
{/block}