
{* Users module Admin presenter *}

{layout $layoutsPath.'adminSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent}<li>{_ usersModule.admin.updateUser.heading}</li>
{/block}

{block #title}
    {_ usersModule.admin.updateUser.heading} {$titleCrumbSeparator} {include #parent}
{/block}

{block #subMenu}
    {control backSubMenu:contentSubMenu}
{/block}

{block #adminContent}
    {control updateUserForm}
	
	
	
	
	
{/}