readMore: "more.."

adminMenuItem.label: "Articles"
publicMenuItem.label: "Articles"

admin:
	articleAdd: "Add article"
	articleNew: "New article"
	heading: "Articles resources"
	article.heading: "Articles"
	addArticle.heading: "New article"
	updateArticle.heading: "Update article %title%"
	updateArticle.title: "Update article"
	updateArticle.bread: "Update article"

admin.grid:
	change: "Change"
	author: "Author"
	title: "Title"
	comments: "Comments"
	state: "State"

articleForm.errors:
	articleAlreadyExist: "Article with given title already exist"


public:
public.messages:
	noArticles: "No articles were found for this category"