
{* Events module Club presenter *}

{layout $layoutsPath.'clubSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent}
    <li><a href="{plink :Events:Club:default}">{_ eventsModule.club.eventsSection}</a></li>
    <li>{_ eventsModule.club.showEventDay.heading}</li>
{/block}

{block #title}
    {_eventsModule.club.showEventDay.heading} {$titleCrumbSeparator} {include #parent}
{/block}

{block #subMenu}
{/block}

{block #clubContent}
    <div class="page-header">
	<h3>{_eventsModule.eventsForDate, null, [date=>$date]}</h3>
    </div>
    {if $data}
	{foreach $data as $d}
		    <article class="event-agenda-box">
			<a href="{plink showEvent, $d->getAlias()}">
			    <span class="event-agenda-item-header">
				<strong>{$d->getTitle()}</strong><small>&nbsp;({$d->getEventType()|eventType})</small>
			    </span>
			</a>
			<span class="event-agenda-item-body">
			    <span class="glyphicon glyphicon-calendar" aria-hidden="true" title="{_ eventsModule.event.takingPlaceTill.title}"></span>
			    &nbsp;{$d->getTakePlaceTill()|date:$dateTimeFormat}&nbsp;|
			    &nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true" title="{_ eventsModule.event.participators.title}"></span>
			    &nbsp; {count($d->getParticipations())}&nbsp;|
			    &nbsp;<span class="glyphicon glyphicon-time" aria-hidden="true" title="{_ eventsModule.event.confirmUntil.title}"></span>
			    &nbsp;{$d->getConfirmUntil()|date:$dateTimeFormat}
			</span>
		    </article>
	{/foreach}
    {/if}
{/block}