
adminMenuItem.label: "Partners"
adminMenuItem.description: "Section for Partners administration"

partnerForm:
	partnerNameAlreadyExist: "Partner with this name already exist."
	name: "Name"
	link: "Link"
	note: "Note"
	picture: "Picture"
	member: "Referrer"
	active: "Active"
	updated: "Updated"
	editor: "Editor"
	nameMustFill: "Field name is required."
	linkMustFill: "Field link is required."
	pictureMustFill: "Field picture is required."

admin:
	heading: "Partners resources"
	partner.heading: "Partners"
	partnerAdd: "Add new partner"
	addPartner.heading: "New partner"
	updatePartner.heading: "Update partner %name%"
	updatePartner.bread: "Update partner"



admin.grid:
	name: "Name"
	referrer: "Referrer"
	updated: "Updated"
	active: "Active"
	note: "Note"



admin.grid.messages:
	rlyDelPartnerItems: "Do you really want to delete %i partners?"
	rlyDelPartner: "Do you really wanto delete partner #%id%?"