
/* Articles module Public presenter */

{layout $layoutsPath.'publicSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent} 
    <li>{_articlesModule.articles.heading}</li>
    
{/block}

{block #title}
    {_articlesModule.articles.heading} 
     {$titleCrumbSeparator} 
    {include #parent} 
{/block}

{block #subMenu}
{/}

{block #publicContent}
    {if $data}
	{foreach $data as $a}
	    <article class="search-result-box">
	    <div class="item-image">
	    <a href="{plink :Articles:Public:ShowArticle $a->getAlias()}">
		<img src="{$a->getPicture()}" class="img-responsive img-thumbnail" />
	    </a>
	</div>
	    
	<a href="{plink :Articles:Public:ShowArticle $a->getAlias()}">
	    <div class="item-title">
		<strong>{$a->getTitle()}</strong>
	    </div>
	</a>

	
	<div class="item-info">
	    {$a->getCreated()|date:$dateFormat} | 
	    {foreach $a->getGroups() as $g}
		{var type=>$g->getSportType()}
		<small>
		    {$g->getName()}&nbsp;{if $type !== null}({$type->getName()}){/if}
		</small>
		{if !$iterator->isLast()},{/if}
	    {/foreach}
	</div>
	<div class="item-body">
	    <p>{!$a->getContent()|truncate:50}</p>
	</div>
	<div class="clearFix"></div>
    </article>
	{/}
    {else}
	{_articlesModule.public.messages.noArticles}
    {/}

