{**
 * Sportsclub application main layout template
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="description" content="{block meta-description}">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{block title|striptags}Sportsclub{/block}</title>

	{var theme => "default"}

	{block styleSheets}
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/_css.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/{$theme}/reset.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/{$theme}/root.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/grido.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery/jquery-ui.min.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery/theme.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/ui-timepicker-addon.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/{$theme}/screen.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/event-calendar.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/{$theme}/print.css">
	{/}
	
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	
	{block head}{/}
    </head>

    <body>
	{block scripts}
	    {var ajax = $presenter->getParameter('ajax') == 'on'}
	    
	    <script src="{$basePath}/js/jquery.min.js"></script>{**}
	    <script src="{$basePath}/js/bootstrap/bootstrap.min.js"></script>
	
	    <script src="{$basePath}/js//bootstrap/bootstrap-alert.js"></script>
	    <script src='{$basePath}/js/jquery-ui-timepicker-addon.js'></script> {* *}
	    <script src="{$basePath}/js/jquery-ui.min.js"></script> {* *}
	    
	    <script src="{$basePath}/js/timepicker.js"></script> 
	    	    <script src="{$basePath}/js/nette.ajax.js"></script> {* *}
	    <script src="{$basePath}/js/netteForms.js"></script>	   
	    
	    <!--script src="{*$basePath*}/js/jquery.nette.js"></script--> {* tohle tady vadi GRIDU, nefakaji pak filtry bez kliku na search*}

	    <script src="{$basePath}/js/grido/grido.ajax.js"></script> {**}
	    
	    <script src='{$basePath}/js/dateInput.js'></script> {*  *}
	    <script src="{$basePath}/js/date-input-settings.js"></script> {* *}
	    
	    <script src="{$basePath}/js/jquery.hashchange.min.js"></script>
	    <script src="{$basePath}/js/jquery.maskedinput.min.js"></script>
	    <script src="{$basePath}/js/typeahead.min.js"></script>
	    
	    <script src="{$basePath}/js/grido/grido.js"></script>
	    <script src="{$basePath}/js/grido/grido-ext.js"></script>
	    
	    <script n:if="$ajax" src="{$basePath}/js/main.ajax.js"></script>
	    <script n:if="!$ajax" src="{$basePath}/js/main.js"></script>
	    
	{/}
	<div class="container">
<!----------------------------------------------------------------------------------->	


	    <header class="header">
		<div class="row">
		    <div class="col-md-8">
			<a href="{plink :System:Public:default}">
			    <div id="clublogo" class="visible-lg"></div>
			    <div id="clublogo" class="visible-md">MEDIUM LOGO</div>
			    <div  class="visible-sm">SMALL LOGO</div>
			    <div  class="visible-xs">EXTRA SMALL LOGO</div>
			</a>
		    </div>
		    <nav class="col-md-4">
			<div id="usermenu">
			    {control loginControl}
			    <div class="row">
				<div class="search">
				    <form>
					<input type="text" class="textfield" class="col-sm-6"/>
					<input type="submit" class="button" value="Find" class="col-sm-6" />
				    </form> 
				</div>
			    </div>
			</div>
		    </nav>
		</div> 
	    </header>

	
<!----------------------------------------------------------------------------------->	
		<div id="publicmenu-container">
		    {*control publicMenu*}mega menu
		</div>  
			
			    {block maintheme}
			    {/block}

			<div id="content">

			    {include content}
    

			    <div class="cleaner"></div>
			    <div class="row">
				<div class="col-md-3">
				    <a href=""><img src="{$basePath}/img/partner_hella.jpg" title="dsadasd" height="125" width="200" />
					<p>Hella Autotechnik</p></a>
				</div>
				<div class="col-md-3"><a href=""><img src="{$basePath}/img/partner_futurpol.jpg" height="125" width="200" />
					<p>Futurpol</p></a>
				</div>
				<div class="col-md-3">
				    <a href=""><img src="{$basePath}/img/partner_a3sport.jpg" height="125" width="200" /><p>A3 Sport</p></a>
				</div>
				<div class="col-md-3">
				    <a href=""><img src="{$basePath}/img/partner_jersey53.jpg" height="125" width="200" /><p>Jersey53</p>
				    </a>
				</div>
			    </div>
			</div>  

<!----------------------------------------------------------------------------------->	
		    <footer class="footer">
			<div class="row">
			    <div class="col-md-8"><p class="copyright">&copy; 2014 SportsClub</p></div>
			    <div class="col-md-4">
				    <p class="menu"><a href="">Homepage</a> &nbsp;&nbsp;/&nbsp;&nbsp; 
					<a href="">Sitemap</a>  &nbsp;&nbsp;/&nbsp;&nbsp;  <a href="">Contacts</a></p>
			    </div>
			</div>
		    </footer>
<!----------------------------------------------------------------------------------->	
	</div>
</body>
</html>
