{**
 * Sportsclub application main layout template
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="description" content="{block meta-description}">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{block title|striptags}Sportsclub{/block}</title>

	{var theme => "default"}

	{block styleSheets}
	
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/{$theme}/reset.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/{$theme}/root.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/grido.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery/jquery-ui.min.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery/theme.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/ui-timepicker-addon.css">
	<script src="//unslider.com/unslider.min.js"></script>
	<!--link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap/bootstrap.min.css"-->
	<!--link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap/bootstrap-theme.min.css"-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap/bootstrap-submenu.min.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/_css.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/{$theme}/screen.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/event-calendar.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/{$theme}/print.css">
	{/}
	
	<link rel="shortcut icon" href="{$basePath}/favicon.ico?v=2" />
	
	{block head}{/}
    </head>

    <body class="{$layoutStyle}">
	{block scripts}
	    {var ajax = $presenter->getParameter('ajax') == 'on'}
	    
	    <!--script src="{$basePath}/js/jquery.min.js"></script-->{**}
	    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	    <script src="{$basePath}/js/bootstrap/bootstrap.min.js"></script>
	    <script src="{$basePath}/js/bootstrap/bootstrap-submenu.min.js"></script>
	
	    <script src="{$basePath}/js//bootstrap/bootstrap-alert.js"></script>
	    <script src='{$basePath}/js/jquery-ui-timepicker-addon.js'></script> {* *}
	    <script src="{$basePath}/js/jquery-ui.min.js"></script> {* *}
	    
	    <script src="{$basePath}/js/timepicker.js"></script> 
	    	    <script src="{$basePath}/js/nette.ajax.js"></script> {* *}
	    <script src="{$basePath}/js/netteForms.js"></script>	   
	    
	    <!--script src="{*$basePath*}/js/jquery.nette.js"></script--> {* tohle tady vadi GRIDU, nefakaji pak filtry bez kliku na search*}

	    
	    <script src="{$basePath}/js/grido/grido.ajax.js"></script> {**}
	    
	    <script src='{$basePath}/js/dateInput.js'></script> {*  *}
	    <script src="{$basePath}/js/date-input-settings.js"></script> {* *}
	    
	    <script src="{$basePath}/js/jquery.hashchange.min.js"></script>
	    <script src="{$basePath}/js/jquery.maskedinput.min.js"></script>
	    <script src="{$basePath}/js/typeahead.min.js"></script>
	    
	    <script src="{$basePath}/js/grido/grido.js"></script>
	    <script src="{$basePath}/js/grido/grido-ext.js"></script>
	    
	    <script n:if="$ajax" src="{$basePath}/js/main.ajax.js"></script>
	    <script n:if="!$ajax" src="{$basePath}/js/main.js"></script>
	{/}
	<div class="container">
<!----------------------------------------------------------------------------------->	


	    <header class="header">
		<div class="row">
		    <div class="col-md-7">
			<a href="{plink :System:Homepage:default}">
			    <div class="visible-lg clublogo-lg"></div>
			    <div class="visible-md clublogo-md"></div>
			    <div class="visible-sm clublogo-sm"></div>
			    <div class="visible-xs clublogo-xs"></div>
			</a>
		    </div>
		    <nav class="col-md-5">
			<div id="usermenu">
			    {control loginControl}
			    <div class="row">
				<div class="search">
				    <form class="form-inline" role="form">
					<div class="form-group">
					    <div class="input-group">
						<input type="text" class="textfield" class="col-sm-6 form-control" placeholder="Enter text for search"/>
						<input type="submit" class="button" value="Find" class="col-sm-6" />
					    </div>
					</div>
				    </form> 
				</div>
			    </div>
			</div>
		    </nav>
		</div> 
	    </header>

	
<!----------------------------------------------------------------------------------->	
		    <div class="wrapper">
			<div id="sectionbar">
			    <div id="publicmenu-container">
				{control publicMenu}	    
			    </div>
			
			    {block #maintheme} {* vypis pouze z Public: default *}
			    {/block}
			</div>
			
			<div id="content">
			    
			    {include #content}

			    <div class="cleaner"></div>
			</div>
			    
		</div>  
		    
<!----------------------------------------------------------------------------------->	
		    <footer class="footer">
			<div class="row">
			{control partners}
			</div>
			<div class="row appendix">
			    <div class="col-md-6">
				<small class="copyright">&copy; 2014 SportsClub</small>
			    </div>
			    <div class="col-md-6">
				    <nav>
					<a href="{plink :System:Homepage:default}">{_ systemModule.homepage.homepage}</a> &nbsp;&nbsp;{$breadCrumbSeparator}&nbsp;&nbsp; 
					<a href="#">{_ systemModule.homepage.sitemap}</a>  &nbsp;&nbsp;{$breadCrumbSeparator}&nbsp;&nbsp;  
					<a href="{plink :Security:Public:contacts}">{_ systemModule.homepage.contacts}</a>
				    </nav>
			    </div>
			</div>
		    </footer>
<!----------------------------------------------------------------------------------->	
	</div>
</body>
</html>
