
{* Admin section base template *}

{layout ./publicRootBase.latte}

{block #breadcrumbs}

{/block}

{block #side}left{/block}

{block #title}
{/block}

{block #sideBlock}
	{control groupsFilterMenu:contentMenu, "categories", "systemModule.navigation.menu.cats"}
	{include #subMenu}
{/block}
	
{block #mainBlock}
	{include #publicContent}
{/block}