
        <ul id="mega-menu-9" class="publicmenu">
          <li class="first"><a href="{plink ClubInfo:default">Klub</a>
          <ul>
        			<li>
        				<ul>
        					<li><a href="{plink ClubInfo:basics}">Základní info</a></li>
        					<li><a href="{plink ClubInfo:history}">Historie</a></li>
        					<li><a href="{plink ClubInfo:partners}">Partneři</a></li>
        					<li><a href="{plink ClubInfo:halls}">Naše haly</a></li>
        					<li><a href="{plink ClubInfo:hallOfFame}">Síň slávy</a></li>
        				</ul>
        			</li>                  
        		</ul>
        	</li>
          <li><a href="{plink Articles:default}">Články</a></li>
          	
        	<li><a href="{plink Media:default}">Média</a>
        		<ul>
        			<li>
        				<ul>
        					<li><a href="{plink Media:photos}">Fotogalerie</a></li>
        					<li><a href="{plink Media:videos}">Videa</a></li>
        				</ul>
        			</li>
        		</ul>
        	</li>      	
        	<li><a href="#">Dospělí</a>
        		<ul>
		    <li><a href="{plink Category:default "mua"}">Muži A</a>
        	     <ul>
            		<li><a href="{plink Category:information "mua"}">Informace</a></li>
            		<li><a href="{plink Articles:default "mua"}">Články</a></li>
            		<li><a href="{plink Category:league "mua"}">Liga</a></li>
            		<li><a href="{plink Category:roster "mua"}">Soupiska</a></li>
        	     </ul>
        	   </li>
       			<li><a href="{plink Category:default "mub"}">Muži B</a>
        	     <ul>
            		<li><a href="{plink Category:information "mub"}">Informace</a></li>
            		<li><a href="{plink Articles:default "mub"}">Články</a></li>
            		<li><a href="{plink Category:league "mub"}">Liga</a></li>
            		<li><a href="{plink Category:roster "mub"}">Soupiska</a></li>
        	     </ul>
        	   </li>
       			<li><a href="{plink Category:default "muc"}">Muži C</a>
        	     <ul>
			<li><a href="{plink Category:information "muc"}">Informace</a></li>
            		<li><a href="{plink Articles:default "muc"}">Články</a></li>
            		<li><a href="{plink Category:league "muc"}">Liga</a></li>
            		<li><a href="{plink Category:roster "muc"}">Soupiska</a></li>
        	     </ul>
        	   </li>
        		</ul>
        	</li>      	
        	<li><a href="#">Mládež</a>
        		<ul>
            <li><a href="{plink Category:default "jua"}">Junioři</a>
            	<ul>
            		<li><a href="{plink Category:information "jua"}">Informace</a></li>
            		<li><a href="{plink Articles:default "jua"}">Články</a></li>
            		<li><a href="{plink Category:league "jua"}">Liga</a></li>
            		<li><a href="{plink Category:roster "jua"}">Soupiska</a></li>
            	</ul>
            </li>
            <li><a href="{plink Category:default "doa"}">Dorostenci</a>
            	<ul>
            		<li><a href="{plink Category:information "doa"}">Informace</a></li>
            		<li><a href="{plink Articles:default "doa"}">Články</a></li>
            		<li><a href="{plink Category:league "doa"}">Liga</a></li>
            		<li><a href="{plink Category:roster "doa"}">Soupiska</a></li>
            	</ul>
            </li>
	    <li><a href="{plink Category:default "stz"}">Starší žáci</a>
        	     <ul>
            		<li><a href="{plink Category:information "stz"}">Informace</a></li>
            		<li><a href="{plink Articles:default "stz"}">Články</a></li>
            		<li><a href="{plink Category:league "stz"}">Liga</a></li>
            		<li><a href="{plink Category:roster "stz"}">Soupiska</a></li>
        	     </ul>
        	   </li>  
          </ul>  
        </li>
        	<li><a href="#">Děti</a>
        		<ul>  		
        	   <li><a href="{plink Category:default "mlz"}">Mladší žáci</a>
            	<ul>
            		<li><a href="{plink Category:information "mlz"}">Informace</a></li>
            		<li><a href="{plink Articles:default "mlz"}">Články</a></li>
            		<li><a href="{plink Category:league "mlz"}">Liga</a></li>
            		<li><a href="{plink Category:roster "mlz"}">Soupiska</a></li>
            	</ul>
            </li>
        			<li><a href="{plink Category:default "elv"}">Elévové</a>
        	     <ul>
            		<li><a href="{plink Category:information "elv"}">Informace</a></li>
            		<li><a href="{plink Articles:default "elv"}">Články</a></li>
            		<li><a href="{plink Category:league "elv"}">Liga</a></li>
            		<li><a href="{plink Category:roster "elv"}">Soupiska</a></li>
        	     </ul>
        	   </li>
        			<li><a href="#">Přípravka</a>
        	     <ul>
            		<li><a href="#">Informace</a></li>
            		<li><a href="#">Články</a></li>
            		<li><a href="#">Liga</a></li>
            		<li><a href="#">Soupiska</a></li>
        	     </ul>
        	   </li>
          </ul>  
        </li>        
                
            
        <li><a href="#">Kroužky DDM</a>
        		<ul>
        			<li><a href="#">DDM Starší žáci</a>
        	     <ul>
            		<li><a href="#">Informace</a></li>
            		<li><a href="#">Články</a></li>
            		<li><a href="#">Liga</a></li>
            		<li><a href="#">Soupiska</a></li>
        	     </ul>
        	   </li>
        	   <li><a href="#">DDM Mladší žáci</a>
            	<ul>
            		<li><a href="#">Informace</a></li>
            		<li><a href="#">Články</a></li>
            		<li><a href="#">Liga</a></li>
            		<li><a href="#">Soupiska</a></li>
            	</ul>
            </li>
        			<li><a href="#">DDM Elévové</a>
        	     <ul>
            		<li><a href="#">Informace</a></li>
            		<li><a href="#">Články</a></li>
            		<li><a href="#">Liga</a></li>
            		<li><a href="#">Soupiska</a></li>
        	     </ul>
        	   </li>
          </ul>
        </li>
        
        <li class="last"><a href="{plink ClubInfo:contacts "mlz"}">Kontakty</a></li>

        </ul>