{* Latte template *}
{layout ./base.latte}

{block content}

<a href="{plink :System:Admin:addSportType}">Novy druh sportu</a>

{control sportTypeGrid}


<a href="{plink :System:Admin:addSportGroup}">Nova skupina</a>

{control sportGroupGrid}


