{* Latte template *}
{layout ./base.latte}

{block content}

<a href="{plink :System:Admin:addSportGroup}">{_ systemModule.admin.groupAdd}</a>

{control sportGroupGrid}

<a href="{plink :System:Admin:addSportType}">{_ systemModule.admin.sportAdd}</a>

{control sportTypeGrid}
