
{* Communication module Messaging presenter *}

{layout $layoutsPath.'userSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent}<li>{_ communicationModule.user.heading}</li>
{/block}
    
{block #title}
    {_communicationModule.user.heading} / {include #parent}
{/block}

{block #subMenu}
    {control subMenu:contentSubMenu}
{/block}
    
{block #userContent}

{/block}