#
# Users module config file
#

usersModule:
	# tady si nastavim svoje vecicky

services:
	
	usersModule.cacheStorage: 
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/usersModule)
		autowired: no

	users.userService:
			class:
				App\UsersModule\Model\Service\UserService
			setup:
				- setCacheStorage(@usersModule.cacheStorage)
				- setSalt(%models.salt%)
				- setLogger()

	# viz http://doc.nette.org/cs/2.2/di-extensions
	# a http://pla.nette.org/cs/create-components-with-autowiring

