#
# Users module config file
#

usersModule:
	# tady si nastavim svoje vecicky

services:
	
	usersModule.cacheStorage: 
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/usersModule)
		autowired: no

	users.userService:
			class:
				App\UsersModule\Model\Service\UserService
			setup:
				- setCacheStorage(@usersModule.cacheStorage)
				- setSalt(%models.salt%)
				- setLogger()
				- setImageService(@userImageService)

