#
# Config file for UsersModule
#

usersModule:
	# tady si nastavim svoje vecicky

services:
	# tady si muzu definovat sluzby v ramci meho modulu
	users.userService:
			class:
				App\Model\Service\UserService
			setup:
				- setCacheStorage(@serviceEntityCache)
				- setSalt(%models.salt%)

	# viz http://doc.nette.org/cs/2.2/di-extensions
	# a http://pla.nette.org/cs/create-components-with-autowiring

