
<div class="{$wrapperClass}">
	<div class="list-group grid-menu {$layoutStyle}">
	    <span class="list-group-item active">{_ $menuLabel}</span>
		{foreach $nodes as $node}
		    {var headSet => isset($node->data["headOnly"])}
		    {if !$headSet || ($headSet && !$node->data["headOnly"])}
			{var data => $node->data}
		    <a href="{if $node->mode} {plink $node->url} {else} {$node->url}{/if}" class="list-group-item">
			<h4 class="list-group-item-heading">{_ $node->label}</h4>
			<p class="list-group-item-text">{if isset($data['desc'])}{_ $data["desc"]}{/if}</p>
		    </a>
		    {/if}
		{/foreach}

	</div>
</div>
    
    
  
