
{* WallsModule Protected default *}

{layout $layoutsPath.'clubSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent}<li>{_ wallsModule.club.heading, null, ["group"=>$groupLabel]}</li>
{/block}
    
{block #title}
    {_wallsModule.club.heading, null, ["group"=>$groupLabel]}  {$titleCrumbSeparator}  {include #parent}
{/block} 

{block #subMenu}
{/block}
    
{block #clubContent}
    {control permanentWallPosts}
    <div class="wall-content">
    {if $wallPosts}
	{foreach $wallPosts as $wp}
		<article class="wallpost-box">
		    
			<div class="wallpost-box-item active">
			    <a href="{plink showWallPost, $wp->getId(), $abbr}"><strong>{$wp->getTitle()}</strong></a>
			    <div class="pull-right" title="{_wallsModule.club.author}">				
				{var author => $wp->getAuthor()}
				{var nick => $author->getNick()}
				<span class="glyphicon glyphicon-user" aria-hidden="true">

				</span>&nbsp;
				    {if empty($nick)}
					{$author->getName()}&nbsp;{$author->getSurName()}
				    {else}
					{$nick}
				    {/if}
			    </div>
			</div>
				
			<a href="{plink showWallPost, $wp->getId(), $abbr}" class="content">
			    <div class="wallpost-box-item">
				    {!$wp->getContent()|truncate: 300}
			    </div>
			</a>
		</article>
	    
	{/}
	{else}
	    
	{_wallsModule.club.messages.noWallPosts}    
    {/}
    </div>
    
    {control wallHistoryControl}
{/block}
  <strong>
				