
{* WallsModule Protected default *}

{layout $layoutsPath.'clubSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent}<li>{_ wallsModule.club.heading}</li>
{/block}
    
{block #title}
    {_wallsModule.club.heading} / {include #parent}
{/block}

{block #subMenu}
{/block}
    
{block #clubContent}
    <h3>{_ wallsModule.club.wallPosts.heading}</h3>
    {if $wallPosts}

	{foreach $wallPosts as $wp}
	    <a href="{plink showWallPost $wp->getId()}">{$wp->getTitle()}</a><br/>
	{/}
    {else}
	{_wallsModule.club.messages.noWallPosts}
    {/}
{/block}
