
adminMenuItem.label: "Walls"
protectedMenuItem.label: "Walls"

adminMenuItem.description: "Administration of sport group's wall posts"
protectedMenuItem.description: "Overview of all accessible sport group's walls and wall posts related with them"

admin:
	wallPostNew: "New wallpost"
	wallPostAdd: "Add wallpost"
	heading: "Walls resources"
	wallPost.heading: "Wallposts"
	addWallPost.heading: "New wallpost"
	updateWallPost.heading: "Update wallpost"
	updateWallPost: "Update wallpost"

admin.wallPostForm:
	title: "Title"
	showFrom: "Show since"
	showTo: "Show till"
	content: "Content"
	highlight: "Announcement"
	status: "Status"
	commentMode: "Comment mode"
	groups: "Groups"
	author: "Author"
	editor: "Editor of last change"
	titleMustFill: "Title has to be filled."
	showFromMustFill: "Show from date must be filled."
	showToMustFill: "Show till date must be filled."
	contentMustFill: "Content of wallpost must be filled."
	
	

admin.wallPostForm.errors:
	wallPostAlreadyExist: "Wallpost with given title already exist."

admin.grid:
	title: "Title"
	status: "Status"
	cmntMode: "Comments"
	author: "Author"
	change: "Change"

admin.grid.messages:
	rlyDelWallPost: "Do you really want to delete wallpost #%id%?"

club:
	heading: "Wall of %group%"
	wallPosts.heading: "Wallposts for %cat% category"
	showWallPost.heading: "Wallpost detail"
	changeTime: "Last change"
	author: "Author"
	relatedGroups: "Related groups"
	showTo: "Show till"
	history.heading: "Wall record"
	wallpostHighlights: "Announcements and alerts"

club.messages:
	noWallPosts: "There are no wallposts at this wall."

postStatus:
	draft: "Draft"
	published: "Published"
	notPub: "Not published"


    