admin:
	forumAdd: "Add forum"
	forumNew: "New forum"

admin.grid:
	title: "Title"
	comments: "Comments"
	author: "Author"
	change: "Change"

admin.grid.messages:
	rlyDelForum: "Do you really want to delete forum #%id%"
	rlyDelForumItems: "Do you really want to delete %i forums"

forumForm.errors:
	forumAlreadyExist: "Forum with given title already exist"

protected:
	lastChange: "Last activity"

protected.messages:
	noForum: "There is no forum available for chosen group"
	noActivity: "No activity so far"