
{* Communication module Forum presenter *}

{layout $layoutsPath.'clubSectionBaseTemplate.latte'}

{block #breadcrumbs}
    {include #parent}<li>{_ communicationModule.club.heading}</li>
{/block}
    
{block #title}
    {_communicationModule.club.heading} / {include #parent}
{/block}

{block #subMenu}
{/block}
    
{block #clubContent}

    {if $data}
	{foreach $data as $f}
	    <article class="forum-thumbnail">
		<h5><a href="{plink showForum, $f->getAlias()}">{$f->getTitle()}</a></h5>
		<p>{$f->getDescription()}</p>
		{var act => $f->getLastActivity()}
		<em>
		{if $act}
		    {_communicationModule.protected.lastChange} {$act|date:'%d.%m.%Y %H:%M'}
		{else}
		    {_communicationModule.protected.messages.noActivity}
		{/}
		</em>
	    </article>
	{/}
    {else}
	{_communicationModule.protected.messages.noForum}
    {/}

{/block}