#
# Config file for SecurityModule
#

parameters:
	# tady si nastavim svoje vecicky

services:

	securityModule.applicationsListener:
		class:
			App\SecurityModule\Model\Listeners\ApplicationsListener
		tags: [kdyby.subscriber]
		setup:
				- setPositionService()
				- setRoleService()

	securityModule.cacheStorage:
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/securityModule/)
		autowired: false

	securityModule.rolesService:
		class:
			App\Model\Service\RoleService
		setup:
				- setCacheStorage(@securityModule.cacheStorage)

	securityModule.resourceService:
		class:
			App\SecurityModule\Model\Service\ResourceService
		setup:
				- setCacheStorage(@securityModule.cacheStorage)
				- setPresenterTree()
				- setAnnotationsReader()

	securityModule.aclRulesService:
		class:
			App\Model\Service\AclRuleService
		setup:
				- setCacheStorage(@securityModule.cacheStorage)
				- setRoleService()
	securityModule.aclService:
		class:
			App\SecurityModule\Model\Service\AclService
		setup:
				- setRolesService()
				- setRulesService()
				- setResourcesService()

	securityModule.positionsService:
		class:
			App\SecurityModule\Model\Service\PositionService
		setup:
				- setCacheStorage(@securityModule.cacheStorage)
				- setSportGroupService()
				- setUserService()
				- setRoleService()
	authenticator: 
		class:
			App\SecurityModule\Model\Authenticator
		setup:
				- setSalt(%models.salt%)
				- setRolesService()
				- setUsersService()
				- setLogger()


# Initializer
	securityModule.initializer:
			class:
				App\SecurityModule\Config\Initializer
			tags: [run]

