#
# Config file for SecurityModule
#

parameters:
	# tady si nastavim svoje vecicky

services:


	securityModule.cacheStorage: 
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/securityModule/)
		autowired: false

	securityModule.rolesService:
		class:
			App\Model\Service\RoleService
		setup:
				- setCacheStorage(@securityModule.cacheStorage)

	securityModule.resourceService:
		class:
			App\SecurityModule\Model\Service\ResourceService
		setup:
				- setCacheStorage(@securityModule.cacheStorage)
				- setPresenterTree()

	securityModule.aclRulesService:
		class:
			App\Model\Service\AclRuleService
		setup:
				- setCacheStorage(@securityModule.cacheStorage)
				- setRoleService()
	securityModule.aclService:
		class:
			App\SecurityModule\Model\Service\AclService
		setup:
				- setRolesService()
				- setRulesService()
				- setResourcesService()

	securityModule.positionsService:
		class:
			App\Model\Service\PositionService
		setup:
				- setCacheStorage(@securityModule.cacheStorage)
				- setSportGroupService()
				- setUserService()
				- setRoleService()
	authenticator: 
		class:
			App\SecurityModule\Model\Authenticator
		setup:
				- setSalt(%models.salt%)
				- setRolesService()
				- setUsersService()
				- setLogger()
factories:
# factories jsou od 2.1 sloceny do services
	# tady si muzu definovat tovarny na ruzny komponenty atp v ramci myho modulu
	# viz http://doc.nette.org/cs/2.2/di-extensions
	# a http://pla.nette.org/cs/create-components-with-autowiring

