adminMenuItem.label: "Události"
clubMenuItem.label: "Události"
userMenuItem.label: "Události"

adminMenuItem.description: "Sekce pro správu událostí"
clubMenuItem.description: "Přehled všech dostupných událostí"
userMenuItem.description: "Poskztuje přehled událostí na kterých se aktuálně uživatel podílí"


evCalPopTitle: "Události pro "
eventsForDate: "Akce se konají v termínu %date%"
eventEnds: "Končí "

readMore: "..."

userEvents: "Události, ke kterým jste  se vyjádřili"

common:
	yes: "Ano"
	no: "Ne"
club:
	calendarTab.label: "Kalendář"
	agendaTab.label: "Agenda"
	eventsSection: "Události"
	heading: "Přehled"
	showEvent.heading: "Detail události"
	showEventDay.heading: "Událost v jednom dni"
	
grid:
	title: "Název"
	view: "Jdi na událost"
	type: "Typ"
	takeSince: "Začíná"
	takeTill: "Končí"
	updateParticipation: "Upravit účast"
	updateEvent: "Upravit událost"
	deleteEvent: "Smazat událost"

admin:
	eventAdd: "Přidat událost"
	eventNew: "Nová událost"
	event.heading: "Události"
	heading: "Správa událostí"
	addEvent.heading: "Nová událost"
	updateEvent.heading: "Upravit událost"
	updateEvent.title: "Upravit událost"
	updateParticipation.heading: "Aktualizace účasti na"
	updateParticipation.bread: "Upravit účast události"
	updateParticipation.title: "Upravit účast události"

eventForm.errors:
	eventAlreadyExist: "Událost s daným názvem již existuje."

protected.messages:
	noDataFound: "Žádná data"

partForm:
	content: "Poznámka k účasti"
	owners: "Uživatelé"
	type: "Účast"
	errorSave: "Účast pro uživatele #%user% na události #%event% nebyla aktualizována."
	errorDupl: "Účast pro uživatele #%user% na události #%event% již existuje."

participation:
	cancel: "Zrušit účast"
	type: "Účast"
	yes.heading: "Účast (%count%)"
	no.heading: "Neúčast (%count%)"

eventParticipationType:
	noIwont: "Ne, nechci se zúčastnit této události."
	yesIDo: "Ano, chci se zúčastnit této události."

eventType:
	training: "Trénink"
	match: "Zápas"
	leagueMatch: "Ligový zápas"
	teambuilding: "Teambuilding"
	meeting: "Setkání"

user:
	userEvents.heading: "Události"

event:
	confirmUntil.title: "Ukončení možnosti přihlášení"
	participators.title: "Počet vyjádření"
	takingPlaceSince.title: "Začátek"
	takingPlace.title: "Koná se"
	takingEditor.title: "Poslední změnu provedl"