adminMenuItem.label: "Events"
clubMenuItem.label: "Events"
userMenuItem.label: "My events"

adminMenuItem.description: "Event resources administration section."
clubMenuItem.description: "All accessible events overview."
userMenuItem.description: "Provides overview of events participated by current user."


evCalPopTitle: "Events for "
eventsForDate: "Events taking place in %date%"
eventEnds: "Ends at "

readMore: "..."

userEvents: "Events which you are participating in"

common:
	yes: "Yes"
	no: "No"
club:
	calendarTab.label: "Calendar"
	agendaTab.label: "Agenda"
	eventsSection: "Events"
	heading: "Overview"
	showEvent.heading: "Event detail"
	showEventDay.heading: "Events for single day"
	
grid:
	title: "Title"
	view: "Go to event"
	type: "Type"
	takeSince: "Starts"
	takeTill: "Ends"
	updateParticipation: "Update participation"
	updateEvent: "Update event"
	deleteEvent: "Delete event"

admin:
	eventAdd: "Add event"
	eventNew: "New event"
	event.heading: "Events"
	heading: "Event resources"
	addEvent.heading: "New event"
	updateEvent.heading: "Update event %title"
	updateEvent.title: "Update event"
	updateParticipation.heading: "Update participation of %title%"
	updateParticipation.bread: "Update event participation"
	updateParticipation.title: "Update event participation"

eventForm.errors:
	eventAlreadyExist: "Event with given title already exist"

protected.messages:
	noDataFound: "No data available"

partForm:
	content: "Participation note"
	owners: "Users"
	type: "Participated"
	errorSave: "Participation for user #%user% within event #%event% was not updated"
	errorDupl: "Participation for user #%user% within event #%event% already exist"

participation:
	cancel: "Cancel participation"
	type: "Participation"
	yes.heading: "Participating (%count%)"
	no.heading: "Not participating (%count%)"

eventParticipationType:
	noIwont: "No, I don't want to participate at this event"
	yesIDo: "Yes, I want participate at this event"

eventType:
	training: "Training"
	match: "Match"
	leagueMatch: "League match"
	teambuilding: "Teambuilding"
	meeting: "Meeting"

user:
	userEvents.heading: "User events"