#
# Articles module config file
# 
    
services:

	articlesModule.cacheStorage: 
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/articlesModule)
		autowired: no

	articlesModule.articleService:
		class:
			App\ArticlesModule\Model\Service\ArticleService
		setup:
			- setCacheStorage(@articlesModule.cacheStorage)
			- setSportGroupService()
			- setUserService()