#
# #######################################################
#	MAIN CONFIGURATION FILE OF WHOLE APPLICATION
#		 SPORTSCLUB IS APPLICATION
#	  DIPLOMA THESIS @ MASARYK UNIVERSITY BRNO
#		    Bc. Michal Fučík
#		michal.fuca.fucik@gmail.com
# #######################################################
#

#
# WARNINIG: ENSURE TO NOT EXPOSURE CONTENT OF THIS FILE TO CLIENT SIDE USERS
#

#   SYNTAX HELP
#   ------------
#   %<field from paramaters>%
#   @service
#


#
# ==============================
#	FRAMEWORK SETTINGS
# ==============================

includes:
	# - nazev.neon ## nejnizsi priorita
	# - nazev.neon ## vyssi priorita
	# - applicationConfig.local.neon ##nejvyssi priorita

parameters:
	database:
		options: 
			lazy: true
	models:
		salt: $2a06$05IKqFG8iuPts/cr0.
		
	debugger: 
		email: "michal.fuca.fucik@gmail.com"

	wwwDir: %appDir%/../www
	cacheDir: %tempDir%/cache/
	modulesDir: %appDir%/modules/
	libsDir: %appDir%/../vendor/others
	imagesDir: %wwwDir%/assets/images/

	appName: sportsclub
	appDefaultEmail: "michal.fuca.fucik@gmail.com"


nette:
	application:
		errorPresenter: Public:Error
		debugger: false
		catchExceptions: false

		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days
		save_path: %tempDir%/sessions
		name: %appName%
		#autoStart: smart ## default smart on
		
	database:
		connection: %database%

	routing:
		debugger: true
		
	security:
		#frames: yes ## default no (SAMEORIGIN)
		
	# mailer: smtp ## default je sendMailer

	forms:
		#EQUAL: 'Please enter %s' ## you can change default messages here
	container:
		debugger: false #dumps whole DI container -> laggy
	debugger:
		email: %debugger.email%
		strictMode: true
		editor: sublime
		browser: chromium-browser

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

#
# =========================================
#	3RD PARTY EXTENSIONS SETTINGS
# =========================================
#

doctrine:
	metadata:
		App: %appDir%
		#Modules: %appDir%/*Module/model ## hvezdicku to neumi

annotations: # configure of annotations extension
	ignore:	[hideInTree, licence] # array of ignored annotations
	debug: yes

monolog:
	name: %appName%
	registerFallback: yes # zapne logovani do souboru

	handlers:
		- Monolog\Handler\SyslogHandler(%appName%, 'local4') # unix syslog handler

facebook:
	appId: "1234567890"
	appSecret: "e807f1fcf82d132f9bb018ca6738a19f"
	permissions: [email]

events:
    debugger: # these are the default values
        dispatchTree: off
        dispatchLog: on
        events: on
        listeners: on
	
translation:
	default: cs
	whitelist: [cs, en, de] #....
	fallback: [cs_CZ, cs]
	debugger: on
	dirs: 
		#- %appDir%/modules/SystemModule/locale # every module has own locale dir
	resolvers:
		session: on
		request: off # checking locale from request
		header: off # accept language header preferred locales 

#
# ===================================
#	APP EXTENSIONS SETTINGS
# ===================================
#

articlesModule:
	rss:
	    title: "FBC Mohelnice"
	    description: "Webová prezentace florbalového klubu FBC Mohelnice, o.s."
	    category: "aktuality,články,novinky,RSS"
	    copyright: "FBC Mohelnice"
	    managingEditor: "editor@fbcmohelnice.cz"
	    webmaster: "webmaster@fbcmohelnice.cz"

seasonsModule:
	memberShip: true # udava, zda se bude v seasonTax pocitat s clenskym prispevkem 

systemModule:
	init:
		turnOff: true
		group: 
			name: "Club"
			description: "Root system group"
		
	notifications:
			senderMail: "misan.128@seznam.cz" # povinne, kdyz neni tu, bere se z init usera 
			hostName: "FBC Mohelnice" # povinne, kdyz neni tu, bere se z init usera # AKTIVNI
			smtpOptions: [] # nepovinne 
			desiredMailerType: App\SystemModule\Model\Service\EmailNotificationService::MAILER_TYPE_SEND # nepovinne 
securityModule:
	defRoleAppEvents: "player" # defaultni nazev role pro vytvareni pozice, musi existovat, viz nize
	defCommentAppEvents: "Created by system" #defaultni comment pro vytvarenou pozici, aby bylo videt, ze to je tvorene systemem
	deleteOldPositions: true # moznost vypnout mazani starych pozic pri pridavani nove
	defaultUserEmail: %appDefaultEmail% # povinne

	init:
		turnOff: true
		roles: ["admin", "player", "guest", "member", "executive"] 			

paymentsModule:
	dueDate: "1 month" 

usersModule: 
	init:
		turnOff: true
		user: #init uzivatel, hlavni admin 
			name: "FBC"
			surname: "Mohelnice, o.s."
			nick: "Informační systém"
			password: "admin"
			contact:
				address: 
					city: "Mohelnice"
					postCode: "789 85"
					street: "Masarykova"
					number: "546/25"
					accountNumber: "2500140367/2010"
					in: "228 90 785"
					tin: "CZ 228 90 785"
				phone: "420732504156"
				email: %appDefaultEmail%
	    
			
	
#
# =====================================
#	COMMON SERVICES SETTINGS
# =====================================
#
	
services:
	#- App\Model\UserManager

	# tohle uz neni treba je to nahrazeno 
	robotLoader:
		class: Nette\Loaders\RobotLoader
		setup:
			- setCacheStorage
			- addDirectory(%libsDir%)
			- addDirectory(%appDir%)
			- register()


	presenterTree:	
		class: Kdyby\PresenterTree

	#- Nette\Caching\Storages\MemcachedStorage()
	
	- App\RouterFactory
	router: @App\RouterFactory::createRouter

	cacheStorage: # redefinovani cache pro system, at je v tom poradek (nemusi to tu byt)
		class: 
			Nette\Caching\Storages\FileStorage(%tempDir%)

	imagesBackend: 
		class:
			\Tomaj\Image\Backend\FileBackend(%wwwDir%, %imagesDir%)

	articleImageService: 
		class: \Tomaj\Image\ImageService(@imagesBackend, 'articles/:year/:month/:hash', ['340x200', '700x400', '1028x370'], 70)
		autowired: no

	userImageService: 
		class: \Tomaj\Image\ImageService(@imagesBackend, 'users/:year/:hash', ['230x280'], 80)
		autowired: no



#
# ===================================
#	EXTENSIONS REGISTRATION
# ===================================
#


extensions:

	# 3rd party extensions
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	doctrine2identity: Majkl578\NetteAddons\Doctrine2Identity\DI\IdentityExtension
	facebook: Kdyby\Facebook\DI\FacebookExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	

	# Application extensions (modules)
	systemModule: App\SystemModule\Config\SystemModuleExtension
	usersModule: App\UsersModule\Config\UsersModuleExtension
	securityModule: App\SecurityModule\Config\SecurityModuleExtension
	seasonsModule: App\SeasonsModule\Config\SeasonsModuleExtension
	paymentsModule: App\PaymentsModule\Config\PaymentsModuleExtension
	eventsModule: App\EventsModule\Config\EventsModuleExtension
	articlesModule: App\ArticlesModule\Config\ArticlesModuleExtension
	wallsModule: App\WallsModule\Config\WallsModuleExtension
	communitactionModule: App\ForumModule\Config\CommunicationModuleExtension
	motivationModule: App\MotivationModule\Config\MotivationModuleExtension
	partners: App\PartnersModule\Config\PartnersModuleExtension