#
# SystemModule config file
#

parameters:
	# tady si nastavim svoje vecicky

services:

	systemModule.cacheStorage: 
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/systemModule/)
		autowired: false

	systemModule.sportTypeService:
		class:
			App\SystemModule\Model\Service\SportTypeService
		setup:
		    		- setCacheStorage(@systemModule.cacheStorage)

	systemModule.sportGroupService:
		class:
			App\SystemModule\Model\Service\SportGroupService
		setup:
				- setCacheStorage(@systemModule.cacheStorage)
				- setSportTypeService()