#
# SystemModule config file
#

parameters:
	# tady si nastavim svoje vecicky

services:

	systemModule.cacheStorage: 
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/systemModule/)
		autowired: false

	systemModule.sportTypeService:
		class:
			App\SystemModule\Model\Service\SportTypeService
		setup:
				- setCacheStorage(@systemModule.cacheStorage)

	systemModule.sportGroupService:
		class:
			App\SystemModule\Model\Service\SportGroupService
		setup:
				- setCacheStorage(@systemModule.cacheStorage)

	systemModule.categoriesMenuFactory:
		class:
			App\SystemModule\Model\Service\Menu\CategoriesMenuFactory
		setup:
				- setCacheStorage(@systemModule.cacheStorage)
				- setTranslator()
				- setSportGroupsService()

	systemModule.adminMenuControlFactory:
		class:
			App\SystemModule\Model\Service\Menu\AdminMenuControlFactory
		setup:
				- setCacheStorage(@systemModule.cacheStorage)

	systemModule.protectedMenuControlFactory:
		class:
			App\SystemModule\Model\Service\Menu\ProtectedMenuControlFactory
		setup:
				- setCacheStorage(@systemModule.cacheStorage)

	systemModule.commonMenuControlFactory:
		class:
			App\SystemModule\Model\Service\Menu\CommonMenuControlFactory
		setup:
				- setCacheStorage(@systemModule.cacheStorage)


	systemModule.publicMenuControlFactory:
		class:
			App\SystemModule\Model\Service\Menu\PublicMenuControlFactory
		setup:
				- setCacheStorage(@systemModule.cacheStorage)
				- setSportGroupService()
				- setSportTypeService()

	systemModule.staticPageService:
		class:
			App\SystemModule\Model\Service\StaticPageService
		setup:
				- setCacheStorage(@systemModule.cacheStorage)
				- setUserService()

	systemModule.notificationService:
		class:
			App\SystemModule\Model\Service\EmailNotificationService

	systemModule.commentService:
		class: 
			App\SystemModule\Model\Service\CommentService
		setup:
				- setCacheStorage(@systemModule.cacheStorage)
				- setUserService()

# Event listeners

	systemModule.sportGroupListener:
		class:
			App\SystemModule\Model\Listeners\SportGroupListener
		tags: [kdyby.subscriber]
		setup:	
			- setPublicMenuFactory()

	systemModule.sportTypeListener:
		class:
			App\SystemModule\Model\Listeners\SportTypeListener
		tags: [kdyby.subscriber]
		setup:	
			- setPublicMenuFactory()

	systemModule.staticPageListener:
		class:
			App\SystemModule\Model\Listeners\StaticPageListener
		tags: [kdyby.subscriber]
		setup:	
			- setPublicMenuFactory()

	systemModule.applicationListener:
		class:
			App\SystemModule\Model\Listeners\ApplicationsListener
		tags: [kdyby.subscriber]

	systemModule.messagesListener:
		class:
			App\SystemModule\Model\Listeners\MessagesListener
		tags: [kdyby.subscriber]

	systemModule.paymentsListener:
		class:
			App\SystemModule\Model\Listeners\PaymentsListener
		tags: [kdyby.subscriber]
	systemModule.userListener:
		class:
			App\SystemModule\Model\Listeners\UsersListener
		tags: [kdyby.subscriber]
		setup:	