services:

	wallsModule.cacheStorage: 
		class: Nette\Caching\Storages\FileStorage(%tempDir%/cache/services/wallsModule)
		autowired: no

	wallsModule.wallService:
		class:
			App\WallsModule\Model\Service\WallService
		setup:
			- setCacheStorage(@wallsModule.cacheStorage)
			- setSportGroupService()
			- setUserService()
			- setCommentService()
			- setLogger()
