{* Latte template *}
{layout ./base.latte}

{block content}
{control loginControl:user} 
{control loginControl}
<a href="{plink :Articles:Admin:}">Admin article presenter</a>
<a href="{plink :Users:Admin:default}">Admin user presenter</a>
<a href="{plink :Security:Admin:default}">Admin security presenter</a>
<a href="{plink :System:Admin:default}">Admin system presenter</a>
<a href="{plink :Seasons:Admin:default}">Admin season presenter</a>
<a href="{plink :Payments:Admin:default}">Admin payments presenter</a>
<a href="{plink :Events:Admin:default}">Admin events presenter</a>
<a href="{plink :Walls:Admin:default}">Admin walls presenter</a>
<a href="{plink :Forum:Admin:default}">Admin forum presenter</a>
<a href="{plink :Motivation:Admin:default}">Admin motivation presenter</a>
