adminMenuItem.label: "Platby"
protectedMenuItem.label: "Platby"

adminMenuItem.description: "Sekce správy plateb"
protectedMenuItem.description: "Přehled plateb uživatele"

admin.grid.messages:
    rlyDelPayment: "Opravdu chcete smazat platbu #%id%?"
    rlyDelPaymentItems: "Opravdu chcete smazat tyto %i platby?"
admin.grid:
    user: "Uživatel"
    season: "Sezóna"
    ordered: "Přidáno"
    amount: "Částka"
    status: "Status"
    dueDate: "Datum splatnosti"
    subject: "Předmět"
    markDoneAcc: "Zaplaceno na účet"
    markDoneCash: "Zaplaceno hotově"
    markSent: "Odesláno"
    delete: "Smazat platbu"
    update: "Upravit platbu"

admin:
    paymentNew: "Nová platba"
    paymentAdd: "Přidat novou platbu"
    heading: "Správa plateb"
    payment.heading: "Platby"
    addPayment.heading: "Nová platba"
    updatePayment.heading: "Upravit platbu"


user:
    userPayments: "Moje platby"
    paymentDetail.heading: "Detail platby"
    payments.heading: "Platby"
    markSent: "Odeslat"

user.detail:
    vs: "vs"
    dueDate: "Splatnost"
    season: "Sezóna"
    subject: "Za co?"
    note: "Poznámka"
    status: "Stav"

protected.grid.messages:
    rlyMarkAsSent: "Opravdu chcete označit platbu #%id% jako odeslanou?"


paymentStatus:
    no: "Nezaplaceno"
    sent: "Odesláno"
    cash: "Hotově"
    acc: "Na účet"
    