
/*
    ============
	ADMIN
    ============
*/

img.partner-thumbnail {
    width: 150px;
    height: 90px;
    border: 1px black;
    background: transparent;
}


/* ===================================
   FOOTER
   ===================================*/
   
div.partners {
  
  padding: 0;
  -webkit-border-radius:  0 0 3px 3px;
  -moz-border-radius:  0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.partners .slide a img {
  border: 3px solid #222;
  box-shadow: 2px 2px 10px #222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 160px;
  height: 100px;
  opacity: 0.8;
}

.partners .slide a:hover img {
  opacity: 1;
}

.partners .slide p {
  color: #ccc;
  font-size: 1.25em;
  margin: 5px 0;
  padding-left: 5px;
  text-shadow: 0 -1px 0 #46474D;
}

.partners .slide a, 
.partners .slide a:visited {
  text-decoration: none;
}