/*
    ========================
	Comment control
    ========================
*/

    #frm-commentControl-addCommentForm {
	margin: 3% 0 0 0;
    }

    #frm-commentControl-addCommentForm .form-group {
	margin: 0 20px 0;
    }
    
    #frm-commentControl-addCommentForm .form-control.comment {
	margin-bottom: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
    }
    
    #frm-commentControl-addCommentForm .form-control.title {
	margin-bottom: -1px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
    }
    
    #frm-commentControl-addCommentForm input[type="submit"] {
	margin-bottom: 30px;
    }
    
    #frm-commentControl-addCommentForm .form-control:focus {
	z-index: 5;
    }

    
    
/*
    ===============================
	PUBLIC MENU SUB DROPDOWN
    ===============================
*/

    /*
	Repair of color behavior during hover
    */
    
    ul.nav.navbar-nav li:hover {
	background-color: #555;
    }

    ul.nav.navbar-nav li.dropdown.open a:hover {
	color: inherit !important;
    }

    ul.nav.navbar-nav ul.dropdown-menu li a:hover,
    ul.nav.navbar-nav ul.dropdown-menu li.open a:hover {
	color: #fff;
    }

    ul.nav.navbar-nav ul.dropdown-menu li.dropdown-submenu.open a:hover,
    ul.nav.navbar-nav ul.dropdown-menu li.dropdown-submenu a:hover {
	color: #000 !important;
    }
    
    
/*
    ===============
	GRIDS
    ===============
*/    
    
    table.table td {
	padding: .5% .2% !important;
	text-align: center;
	
    }
    
/*
    =====================
	STATIC PAGES
    =====================
*/

.page-overview-wrapper {
    min-height: 30rem;   
}
.page-overview-wrapper a.list-group-item p {
    color: #555;
}