.eventCalendar {
    height: 50%;
    margin: 20px;
}

/* plocha se dny v tydnu a dny v mesici */
.ec-monthTable {
    
}

.ec-monthTable caption {
      margin: auto;

}

table.ec-monthTable td {
    padding: 0 2% 0 3%;
    border-color: #D9D5D4;
}

table.ec-monthTable td span.badge {    
    float: right;
    margin-right: 5%;
}

table.ec-monthTable th {
    text-align: center;
}


/* den v mesici */
.ec-validDay {
    border: 1px solid black;
    
  position: relative;
}

/* den, pro který existuje nějaká událost */
.ec-eventDay {
    background: #BAD3FF;
}

/* den bez data */
.ec-empty {
    
}

/* */
.ec-dayOfEvents {
    
}

.ec-eventBox {
    
}

.ec-event  {
    
}

.ec-bottomNavigation {
    
}

.ec-month {
    
}

.ec-year {
    
}

.ec-prev-anchor {
    border-radius:5px;
}

caption {
    text-align: center;
}

.eventCalendar .controls {
    cursor: pointer;
}

.eventCalendar .controls a {
    font-weight: bold;
    font-size: 2em;
}

.eventCalendar caption h4 {
    display: inline-block;
    font-size: 1.5em;
    color: black;
    padding:0;
}

.eventCalendar table .ec-day-column {
    width: 8rem;
}

.eventCalendar table tr {
    height: 5rem;
}