
/* =========================
	GLOBAL WIREFRAME 
   =========================
*/

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Open Sans',arial,sans-serif;
    background: #eee url("../img/bg.png") no-repeat;
    background-size: 110% auto;
    background-position-x: center;
    background-position-y: top;
   
}

.wrapper {
    width: 1010px;
    width: auto;
    margin: 0 auto;
    position: relative;
    background: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius:  3px 3px 0 0;
}

.container {
    max-width: 1100px;
    width: auto;
}

/*
   ===================================
	    PAGE HEADER
   
   #header
     .wrapper
       #usermenu
       #clublogo 
   ===================================
*/


header.header { padding: 15px 0 20px 0; }

.clublogo-lg,
.clublogo-md {
    background: transparent url('../img/bg_clublogo.png') no-repeat center left;
    height: 115px;
    width: 500px;
}

.clublogo-sm,
.clublogo-xs {
    background: transparent url('../img/znak-klub.png') no-repeat center left;
    height: 115px;  
    width: 150px;
    margin: auto;   
}

/* 
   ===================================
	PUBLIC MENU + SLIDER
   
   #sectionbar
     #publicmenu-container
     #maintheme-container
       #banner
   ===================================*/

#sectionbar {
    background: transparent url('../img/bg_sectionbar_homepage.png') repeat-x top left;
    padding: 20px 0 10px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px 0;
    border-radius: 3px 3px 0 0;
}

#sectionbar nav {
    margin: 0 2%;
}

#publicmenu-container {
    width: 100%;
    height: 48px;
    margin: 0px auto 0px auto;

    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#maintheme-container {
    padding: 1% 1% 0 1%;
    margin:0 auto;
    overflow:hidden;
    border-radius: 0;
    min-height: 350px;
}

#banner {
    margin:0 auto;
    position:relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    xbox-shadow: 0px 3px 7px #000;
}

/* ===================================
   CONTENT
   
   #content
     #side-box
     #main-box
   ===================================*/

#content { padding: 2%;}

/* Sidebox on the left. */
#content .layout-left .side-box { float: left; }
#content .layout-left .main-box { margin-left: 275px; padding-right: 5px; }

/* Sidebox on the right. */
#content .layout-right .side-box { float: right; }
#content .layout-right .main-box { margin-right: 275px; padding-left: 5px; }

#content .cleaner {
    visibility: hidden;
    width: 100%;
    clear: both;
}

/* 
    ================
	 FOOTER
    ================
*/

footer.footer .partners {
    overflow: hidden;
    padding: 2%;
    margin: 0 auto;
    position: relative;
    background: #222 url('../img/footer_bg.png') repeat-x left top;
    -webkit-border-radius:  0 0 3px 3px;
    -moz-border-radius:  0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

footer.footer .partners ul { margin: 0; padding: 0; }

footer.footer .partners ul li {
    margin: 0;
    padding: 0;
    float: left;
    width: 198px; 
    list-style-position: outside; 
    list-style-type: none; 
    list-style-image: none;
}

footer .appendix nav { text-align: right; color: #555; }

footer .appendix { padding: 1% 2%; }

footer .appendix small { font-size: inherit; }

/* 
    ==================================
	     JUMBOTRON EDIT
    ==================================
*/

.container .jumbotron {
    border-radius: 6px;
    background-color: transparent;
    padding: 0 1% 1% 1%;
    z-index: 5;
}

.navbar-collapse { z-index: 10; }

.carousel-caption {
    padding-bottom: 0;
    padding-left: 1.5%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    left: 0;
    bottom: 0;
    right: 60%;
    display: inline-block;
}

.carousel-caption a { color: #fff !important; }

.carousel-caption a small { 
}


.carousel-caption span.glyphicon {
    font-size: .7em;
}

.carousel-caption small {
    font-size: .8em;
}

.carousel-indicators {
    text-align: right;
    bottom: 0;
    width: 30%;
    right: 5%;
    left: initial;
    margin-left: 0;
}